@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  letter-spacing: -2%;
}

:-webkit-full-screen {
  display: none !important;
}
:-moz-full-screen {
  display: none !important;
}
:fullscreen {
  display: none !important;
}

a {
  text-decoration: none;
}

.letter-4 {
  letter-spacing: -4%;
}

::-webkit-scrollbar {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
display: none;
}

.search-countries::-webkit-scrollbar {
  display: block;
  width: 2px;
}
.search-countries::-webkit-scrollbar-thumb {
  background-color: #1F1F1E;
}

.search-countries {
  height: calc(100% - 200px);
}

.appHeight-minus-navbarHeight {
  height: calc(100% - 75px);
}

.homepage-scrollable-section {
  height: calc(100% - 245px);
}

.notification-activity-scrollable-section {
  height: calc(100% - 60px);
}

.my-stakes-scrollable-section {
  height: calc(100% - 220px);
}

.treasury-market-scrollable-section {
  height: calc(100% - 190px);
}

/* @media screen and (min-width: 600px) {
  .App {
    font-size: 14px;
  }
  .text-14 {
    font-size: 12px;
  }
  .text-12 {
    font-size: 10px;
  }
  .text-11 {
    font-size: 9px;
  }
  .text-10 {
    font-size: 8px;
  }
} */