@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  letter-spacing: -2%;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
display: none;
}

.search-countries::-webkit-scrollbar {
  display: block;
  width: 2px;
}
.search-countries::-webkit-scrollbar-thumb {
  background-color: #1F1F1E;
}
.search-countries::-webkit-scrollbar {
}